#
# https://help.github.com/articles/dealing-with-line-endings/
#
# These are explicitly windows files and should use crlf
*.props text eol=crlf
*.sln text eol=crlf
*.vcxproj text eol=crlf
*.vcxproj.* text eol=crlf
